// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #5674A8;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*my code*/
.entry {
    position: relative;
    height: 200px;
    background-color: #272822;
    width: 45%;
    text-align: center;
    margin: 5px;
    overflow: hidden;
    color: gray;
    border-radius: 4px;
}
.description {
    height: 200px;
    background-color: gray;
    width: 45%;
    text-align: center;
    /*margin: 5px;*/
    /*overflow: hidden;*/
    float: right;
    border-radius: 4px;
}
.triangle {
    position: absolute;
    margin-left: -130px;
    margin-top: 45px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 200px;
    border-color: transparent transparent transparent gray;
}
.button {
    font-family: helvetica;
    position: absolute;
    background-color: #717159;
    border: 5px solid black;
    cursor: pointer;
    width: 175px;
    text-align: center;
    left: 0;
    bottom: 0;
    color: #272822;
}

.box1, .box2, .box3 {
    height: 80px;
    width: 80px;
    background-color: blue;
    margin: 5px;
    float: left;
}

/*example 5*/
.folder {
    padding:5px;
    text-align:center;
    background-color:#e5eecc;
    border:solid 1px #c3c3c3;
}

.contents {
    padding:5px;
    text-align:center;
    background-color:#e5eecc;
    border:solid 1px #c3c3c3;
    padding:50px;
    display:none;
}

/*example 7*/
.tog-box {
    height: 80px;
    width: 80px;
    padding:5px;
    position: absolute;
    background-color: green;
    border:solid 1px #c3c3c3;
}

/*example 6*/
.slide-box {
    height: 80px;
    width: 80px;
    padding:5px;
    position: absolute;
    background-color: blue;
    border:solid 1px #c3c3c3;
}

/*example 11*/
.css-box {
    height: 80px;
    width: 80px;
    padding:5px;
    position: absolute;
    background-color: green;
    border:solid 1px #c3c3c3;
}

/*example 12*/
.size-box {
    height: 80px;
    width: 80px;
    padding:5px;
    position: absolute;
    background-color: red;
    border:solid 1px #c3c3c3;
}

/*example 13*/
.box4, .box5, .box6 {
    height: 80px;
    width: 80px;
    background-color: blue;
    margin: 5px;
    float: left;
}
